*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing:border-box;
    outline: none;
    -webkit-user-select: none;
    outline-style: none;
    font-family:"NotoSansTC-Bold";
    text-decoration: none !important
}


@font-face{
    font-family: "NotoSansTC-Regular";
    src: url("Fontes/Fonte/NotoSansTC-Regular.otf")
}
@font-face{
    font-family: "NotoSansTC-Bold";
    src: url("Fontes/Fonte/NotoSansTC-Bold.otf")
}

body{
    font-family: "NotoSansTC-bold",sans-serif;
    background-color:#E58169;
    text-decoration: none;
}

#header{
    background-color: #b4df91;
    width: auto;
    height: 82px;
    border-radius: 5px 5px;
    text-align: center;
}
#header img{
    margin-left: 20px;
}

#header-container{
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
}

#header-container li a h1{
    font-size: 18px;
    color: black;
    width: 200px;
    height: 25px;
    
}

#header-container li a h1:hover{
    color:#E58169;
}

#form-login{
    width: 450px;
    height: 82px;
    display: flex;
    align-items: center;
    
}

#form-login input[type=email]{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    color: black;
   
}

#form-login input[type=password]{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    font-family: "NotoSansTC-Bold";
    
}

#form-login input[type=submit]{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background:#E58169;
    font-size: 16px;
    font-family:"NotoSansTC-Bold";
    border-color:#E58169;
    text-align: center;
    
}
#form-login input[type=submit]:hover{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background:#f3f3f3;
    font-size: 16px;
    font-family:"NotoSansTC-Bold";
    border-color:#E58169;
    text-align: center;
    cursor: pointer;
    color:#E58169;
}



#central{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}

#info{
    width: 600px;
    height: 700px;

}
#registrar{
    width: 600px;
    height: 700px;
    margin-right: 200px;

}





/* CODIGO DO ALANZINHO */

.items{
    margin:auto;
    width:450px;
    min-height:340px;
    border-radius:10px;
    background-color:#b4df91;	
}
    .items table{
        margin:0;
    }

tr td:first-child{
    font-size:20px;
    text-align:left;
    font-weight: bold;
}

input{
    border-color:#808080;
    border-radius:5px;
    height:30px;
    line-height:1.5;
    text-align:left;
    font-size: 16px;
}

a{
    float:left;
    color: #808080;
    font-weight: bold;
    text-decoration:none;
    margin:auto;

}
    a:hover{
        text-decoration: underline;
    }

#confirm{
    color:black;
    background: #b4df91;

    width: 100px;
    height: 30px;

    border-radius: 5px;

    font-size: 16px;
    font-weight: bold;
    
    display:flex;   
    align-items: center;
    justify-content: center;

    box-shadow:0px 8px 16px rgba(6, 141, 58, 0.16);

    margin:0;
}

    #confirm:hover{
        background-color: #E58169;
        text-decoration:none;
        cursor: pointer;
   
	}
