*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing:border-box;
    outline: none;
    -webkit-user-select: none;
    outline-style: none;
    font-family:"NotoSansTC-Bold", "Verdana";
	text-decoration: none !important;
	
	/*color:rgb(219, 219, 219);*/
}

@font-face{
    font-family: "NotoSansTC-Regular";
    src: url("Fontes/NotoSans/NotoSansTC-Regular.otf");
}
@font-face{
    font-family: "NotoSansTC-Bold";
    src: url("Fontes/NotoSans/NotoSansTC-Bold.otf");
}

#header{
    background-color: #2e2e2e;
    width: auto;
    height: 82px;
    border-radius: 5px 5px;
    text-align: center;
    box-shadow: 2px 2px 10px #2b2a2a;
}
#header img{
    margin-left: 20px;
}

#header-container{
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
}

#header-container li a h1{
    font-size: 18px;
    color: #E58169;
    width: 200px;
    height: 25px;
    
}

#header-container li a h1:hover{
    color:#ffffff;
}

#form-login{
    width: 450px;
    height: 82px;
    display: flex;
    align-items: center;
    
}

#form-login input[type=email]{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    color: black;
   
}

#form-login input[type=password]{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    font-family: "NotoSansTC-Bold";
    
}

#form-login input[type=submit]{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background:#E58169;
    font-size: 16px;
    font-family:"NotoSansTC-Bold";
    border-color:#E58169;
    text-align: center;
    
}
#form-login input[type=submit]:hover{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background:#f3f3f3;
    font-size: 16px;
    font-family:"NotoSansTC-Bold";
    border-color:#E58169;
    text-align: center;
    cursor: pointer;
    color:#E58169;
}

/* css do usuarioLogado */

#usuario{
    width:200px;
    height:82px;
    display: flex;
}
    #container-foto{
        width:60px;
        height:auto;
        margin-top: 1px;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    #usuario #fotoUsuario, #fotoUsuario img{
        width:45px;
        height:45px;
        margin:0;
    }

    #usuario #fotoUsuario{
        box-shadow: 0px 0px 5xpx rgba(168, 58, 7, 1);
    }

        #usuario #fotoUsuario{
            width:45px;
            height:45px;
            border-radius: 50px;
            background-color:rgb(61, 54, 46);
        }

    #info-usuario{
        padding-top:20px;
        line-height:20px;
        justify-content: center;
        height:inherit;
    }

    #info-usuario{
        width:140px;
        height: auto;
        margin-top: 5px;
    }

    #info-usuario,#info-usuario a{
        text-align:right;
    }

    .sair{
        height: 20px;
        float: right;;
    }

        #info-usuario a{
            width: 30px;
            font-size:13px;
            color:gray;
        }
            #info-usuario a:hover{
                color:white;
            }

        #info-usuario p{
            color:white;
        }