*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing:border-box;
    outline: none;
    outline-style: none;
    font-family:"NotoSansTC-Bold";
    text-decoration: none !important;
}


@font-face{
    font-family: "NotoSansTC-Regular";
    src: url("Fontes/NotoSans/NotoSansTC-Regular.otf");
}
@font-face{
    font-family: "NotoSansTC-Bold";
    src: url("Fontes/NotoSans/NotoSansTC-Bold.otf");
}

body{
    font-family: "NotoSansTC-bold",sans-serif;
    background-color:rgba(66, 51, 51,0.9);
    text-decoration: none;
    overflow-x: hidden;
    width:99.5vw;
}

#header{
    background-color:#2e2e2e;
    width: 100vw;
    height: 82px;
    border-radius: 5px 5px;
    text-align: center;
}
#header img{
    margin-left: 20px;
    margin-right: 30px;
}

#header-container{
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
}

#header-container li a h1{
    font-size: 18px;
    color: #E58169;
    width: 200px;
    height: 25px;
    
}
    #header-container li:first-child h1{
            height: 75px;
            line-height: 75px;
            background-color: #00000021;
            color: white;
        }

#header-container li a h1:hover{
    color:white;
}

#form-login{
    width: 450px;
    height: 82px;
    display: flex;
    align-items: center;
    
}

#form-login input[type=email]{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    color: black;
   
}

#form-login input[type=password]{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    font-size: 12px;
    font-family: "NotoSansTC-Bold";
    
}

#form-login button{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background:#E58169;
    font-size: 16px;
    font-family:"NotoSansTC-Bold";
    border-color:#E58169;
    text-align: center;


    
}
#form-login button:hover{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    background:#f3f3f3;
    font-size: 16px;
    font-family:"NotoSansTC-Bold";
    border-color:#E58169;
    text-align: center;
    cursor: pointer;
    color:#E58169;
}



#central{
    width:100vw;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    background-image: url(img/background/fundoItaliano.png);
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size:100%;
}

#info{
    width: 600px;
    height: 500px;
    display:flex;
    align-items:center;
    justify-content: center;
    text-align:center;
}
    #info p{
        font-size:40px;
        font-style: italic;
        text-shadow: 0px 0px 5px #9c5948;
    }

#registrar{
    width: 600px;
    height: 500px;
}
#reservar{
    width: 700px;
    height: 500px;
    justify-self: center;
}

#reservar button{
width: 300px;
height: 100px;
color: black;
background: #33df7a;
border-radius: 5px;
font-size: 16px;
font-weight: bold;
box-shadow: 0px 4px 16px rgba(7, 206, 83, 0.185);
font-size: 30px;
}

#reservar button:hover{
    background-color:white;
    cursor: pointer;
    }





/* CODIGO DO ALANZINHO */



.items{
    float:right;
    width:380px;
    height:450px;
    border-radius:10px;
    background-color:rgba(46, 46, 46,1);	

    display:flex;
}
    .items table{
        margin:auto;
        border-collapse: separate;
        border-spacing: 0 10px;
        display:flex;
    }

.items table h2{
    text-align: center;
    text-shadow: 1.5px 1.5px 3px #51af3f;
    font-size:45px;
    text-decoration:line;
}

tr td:first-child{
    font-size:14px;
    text-align:right;
    font-weight: bold;
    color:white;
}

td input{
    border-color:#808080;
    border-radius:5px;
    height:30px;
    line-height:1.5;
    text-align:left;
    font-size: 12px;
    padding:5px;
}

a{
    float:left;
    color: #808080;
    font-weight: bold;
    text-decoration:none;
    margin:auto;

}
    a:hover{
        text-decoration: underline;
    }
        #confirm{
            right:20%;
            position:relative;
            color:black;
            background: #33df7a;

            width: 180px;
            height: 45px;

            border-radius: 5px;

            font-size: 16px;
            font-weight: bold;

            box-shadow:0px 4px 16px rgba(7, 206, 83, 0.185);

            margin:0;
        }

            #confirm:hover{
                background-color: #ffffff;
                text-decoration:none;
                cursor: pointer;
        
            }


#rodape{
    width: 100%;
    height: 560px;
    background-color: #E58169;
    text-align: center;
    align-items: center;
    color: rgba(66, 51, 51,0.9);
}

#mapa{
    position: relative;
    width: 400px;
    height: 200px;
    top: 0;
    left: 50%;
    margin-left: -250px;
}

#endereco{

    width: 500px;
    height: 70px;
    background-color:rgba(66, 51, 51,0.9);
    border-radius: 5px;
    color: white;
}

#endereco button{
    position: relative;
    right:-80%;
    color:black;
    background: #33df7a;

    width: 180px;
    height: 45px;

    border-radius: 5px;

    font-size: 16px;
    font-weight: bold;

    box-shadow:0px 4px 16px rgba(7, 206, 83, 0.185);
}

#endereco button:hover{
    background-color: #ffffff;
    text-decoration:none;
    cursor: pointer;
}















/*RODAPÉ NAO TAVA INDO AI FIZ ISSO, DEU CERTO:*/

.FundoFuter{
    margin-top:20px;
    bottom:0;
    width:100%;
    border-top:solid;
    border-color:#E58169;
    border-width:medium;
    background-color:#333;
    height:250px;
    color:#FFF;
    
}
.Contato{
    width:35%;
    height:auto;
    float:left;
    margin:20px 10% 10px 10px;
    font-size:12px;
}
.Contato h2{
    color:#E58169;
    margin-bottom:10px;
}
.Contato p{
    margin-top:10px;
    margin-bottom:10px;
}
.Contato img{
    height:15px;
    width:15x;
}
.EscolhaFuter{
    float:left;
    font-size:12px;
    margin:20px 10% 10px 10px;
}
.EscolhaFuter h2{
    color:#E58169;
    margin-bottom:10px;
}
.EscolhaFuter .OpcaoFuter{
    margin-bottom:10px;
}
.EscolhaFuter a{
    color:#FFF;
    text-decoration:none;
}
.Contact{
    width:25%;
    float:right;
    font-size:12px;
    margin:20px 30px 10px 10px;
}
.Contact h2{
    color:#E58169;
    margin-bottom:10px;
}
.Contact .CampoEmail{
    width:100%;
    margin-bottom:10px;
}
.Contact .CampoTexto{
    width:100%;
    height:85px;
    resize:none;
}
.BotaoEnviar{
    color:black;
}