.table {
    border-collapse: collapse;
    width: 100%;z-index: -1;
}

.cal th, .cal td {
    text-align: left;
	padding: 2px;
	font-size:12px;
}
.cal tr:nth-child(even){background-color: #f2f2f2}

.day:hover{
	background-color: #8bc34a;
	color: white;
	}

.event:hover{
	background-color: #8bc34a;
	color: white;
	}
.cal button{
	margin: 1px;
	background-color: #259b24;
	color: white;
	border:2px solid  #259b24;
}
.cal button:hover{
	background-color: #8bc34a;
	border:2px solid  #8bc34a;
}

.submit{
	margin-top: 15px;
}
.appt{
	background-color: #ffeb3b;
	color: black;
}